#DeactiveForm fieldset {

    border: 0 none;






    /*stacking fieldsets above each other*/
    position: relative;
}
/*Hide all except first fieldset*/
#DeactiveForm fieldset:not(:first-of-type) {
    display: none;
}